@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Neue Regrade Variable';
	src: url('../fonts/Neue-Regrade-Variable.ttf');
}

body {
	box-sizing: border-box;
}

.hollow {
	-webkit-text-stroke: 1px white;
	opacity: 25%;
	color: transparent;
}
