@import 'tailwindcss';

body {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Neue Regrade Variable';
	src: url('../fonts/Neue-Regrade-Variable.ttf');
}

.hollow {
	-webkit-text-stroke: 1px white;
	opacity: 25%;
	color: transparent;
}
