#root {
	height: 100svh;
	width: 100svw;
	max-width: 100%;
	background-color: var(--bg-color);
	overflow-y: hidden;
	overflow-x: hidden;
	transition: background 1ms;
}

@media screen and (min-width: 850px) {
	#root {
		background-image: radial-gradient(
				circle,
				transparent 0.25rem,
				var(--bg-color) 0.25rem
			),
			linear-gradient(var(--secondary-color), 0.025rem, transparent 0.1rem),
			linear-gradient(
				90deg,
				var(--secondary-color) 0.025rem,
				transparent 0.1rem
			);
		background-size: 1rem 1rem;
		background-position: 1.055rem 1.055rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
	}
}
