#root {
	height: 100svh;
	width: 100svw;
	max-width: 100%;
	background-color: var(--light-green);
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: radial-gradient(
			circle,
			transparent 0.25rem,
			var(--light-green) 0.25rem
		),
		linear-gradient(var(--light-sage), 0.1rem, transparent 0.1rem),
		linear-gradient(90deg, var(--light-sage) 0.1rem, transparent 0.1rem);
	background-size: 1rem 1rem;
	background-position: 1.055rem 1.055rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}

#error-page {
	text-align: center;
}

.nav {
	display: flex;
	max-width: min(90%, 1280px);
	justify-content: space-between;
}

.navbar {
	display: none;
}

.burger-button {
	padding-right: 0.25rem;
	position: absolute;
	top: 0.25%;
	right: 0.25%;
}

/* .burger-button-close {
	position: absolute;
	padding-right: 0.25rem;
	right: 0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	transition: all 0.5s ease;
} */

.title {
	font-size: 1.35rem;
	margin: 0;
	padding-left: 0.75rem;
	/* width: 100%; */
	max-width: min(90%, 1280px);
}

.nav-drawer-transparent {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.nav-drawer {
	/* display: none; */
	position: absolute;
	opacity: 0.5;
	height: 0%;
	max-height: 100%;
	z-index: 1000;
	top: 5%;
	right: -10%;
	width: 0%;
	background-color: var(--dark-sage);
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.1rem;
	transition: height 0.75s, width 1s, opacity 0.5s, right 2s;
}

.nav-list {
	display: grid;
	list-style-type: none;
	position: relative;
	max-height: 100%;
	width: 100%;
	right: 0;
}

.nav-item {
	display: flex;
	position: relative;
	height: 5rem;
	width: 100%;
	justify-content: space-between;
	padding-right: 1rem;
}

.nav-item-text {
	opacity: 1;
	font-size: 1rem;
	text-align: end;
	text-overflow: ellipsis;
}

/* .nav-item-icon {
	height: 100%;
	width: 100%;
} */

.show {
	display: block;
	right: 2.5%;
	opacity: 1;
	height: 31%;
	width: 10rem;
}

.hide {
	opacity: 0;
	width: 0;
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

.carousel-container {
	height: 95%;
	width: 98%;
	max-width: min(98%, 1280px);
	margin: auto;
	/* border-top: 0.3em solid var(--dark-sage);
	border-bottom: 0.25em solid var(--dark-sage); */

	border-top: 0.15em solid var(--dark-sage);
	border-bottom: 0.15em solid var(--dark-sage);
	border-inline: 0.25em solid transparent;
	overflow-y: scroll;
	/*  border-radius: 1rem; */
}

.previous-containers {
	max-height: 15.2%;
	height: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
}

.next-containers {
	display: inline;
	max-height: 85%;
	overflow-y: hidden;
}

.container {
	height: 100%;
	width: 100%;
	max-height: 85%;
	margin: auto;
	border: 0.05em solid black;
	/* background-color: var(--light-green); */
	z-index: inherit;
	overflow: hidden;
	/* background-blend-mode: ; */
	background-color: var(--light-green);
	background-image: radial-gradient(
			circle,
			transparent 0.25rem,
			var(--light-green) 0.25rem
		),
		linear-gradient(var(--dark-light-green), 0.1rem, transparent 0.1rem),
		linear-gradient(90deg, var(--dark-light-green) 0.1rem, transparent 0.1rem);
	background-size: 1rem 1rem;
	background-position: 1.055rem 1.055rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}
.previous-containers > .container {
	background-color: var(--light-green);
}
.previous-containers > .container > .container-content {
	display: none;
}
.previous-containers > .container > .container-buttons {
	display: none;
}

.container-heading {
	position: sticky;
	top: 0%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
.container-heading > h4 {
	margin: 0.2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;
	text-overflow: ellipsis;
}

.container-content {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 95%;
	z-index: inherit;
	margin: 0;
}

.container-images {
	position: relative;
	top: 10%;
	min-height: 50%;

	width: 100%;
	transition: all 1s;
}

.container-image {
	position: absolute;
	max-width: 85%;
	object-fit: fill;
	z-index: -1;
	border: 0.1em solid var(--dark-sage);
	box-shadow: 0 10px 6px -6px #777;
	border-radius: 0.5rem;
}

.container-image:nth-child(odd) {
	left: 2%;
}

.container-image:nth-child(even) {
	z-index: 0;
	top: 25%;
	right: 2%;
}

.container-info {
	width: 90%;
	position: absolute;
	border-radius: 0.25rem;
	bottom: 5%;
	/* margin-inline: 10rem; */
	padding-inline: 2rem;
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
	/* z-index: 1; */
	background: var(--dark-light-green);
	box-shadow: 0.2rem 0.2rem var(--dark-sage);
	transition: all 1s ease;
}

.container-description {
	font-size: 1.1rem;
	text-align: center;
	width: 100%;
	mix-blend-mode: hard-light;
}

.container-icons {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
}

.icon-container {
	display: grid;
	align-content: center;
	grid-template-rows: 2;
}

.container-icons > i {
	font-size: 1.8rem;
	color: var(--light-sage);
}

.container-buttons {
	display: flex;
	padding-top: 1rem;
	justify-content: space-around;
}

.container-buttons > button {
	z-index: 0;
	border-radius: 0.3rem;
	width: 8.5rem;
	height: 2.5rem;
	background-color: var(--dark-sage);
	color: var(--light-sage);
	border: 0.15rem solid var(--light-sage);
	font-size: 1rem;
	text-rendering: optimizeLegibility;
	box-shadow: 0.1rem 0.1rem var(--dark-sage);
}

/* .github-link:nth-child(odd) {
	width: 25%;
	display: flex;
	font-size: 100%;
	background-color: var(--dark-sage);
} */

.previous-containers > .container {
	height: calc(100% / 3);
}

.previous-containers > h4 {
	height: 100%;
}

.next-containers > .container {
	position: sticky;
	height: 100%;
	width: 100%;
	z-index: inherit;
}

@media screen and (min-width: 850px) {
	.nav {
		margin: auto;
		width: 100%;
	}
	.burger-button {
		display: none;
		width: 0;
		height: 0;
	}

	.navbar {
		position: relative;

		display: flex;

		justify-content: space-evenly;
	}

	.nav-drawer-transparent {
		display: none;
	}

	.nav-drawer {
		display: none;
		position: absolute;
		opacity: 0.5;
		height: 0%;
		max-height: 100%;
		z-index: 1000;
		top: 5%;
		right: -10%;
		width: 0%;
		background-color: var(--dark-sage);
		border-radius: 0.5rem;
		box-shadow: 0.1rem 0.1rem;
		transition: height 0.75s, width 1s, opacity 0.5s, right 2s;
	}

	.nav-item-text {
		margin-top: 1%;
		max-height: 1rem;
		padding-inline: 3rem;
		font-weight: 500;
	}

	.hide {
		opacity: 1;
		width: 100%;
		display: block;
	}

	.show {
		right: 2.5%;
		opacity: 1;
		height: 31%;
		width: 18%;
	}

	.container-images {
		position: relative;
		top: 10%;
		min-height: 50%;
		width: min(100%, 52rem);
		transition: all 1s;
	}

	.container-content {
		display: grid;
		grid-template-columns: 68% 30%;
		grid-column-gap: 2%;
	}

	.container-info {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: 1rem;
		z-index: 1;
		transition: all 2s ease;
		min-width: 80%;
		max-width: 90%;
		min-height: 50%;
		max-height: 70%;
		background: var(--dark-light-green);
		box-shadow: 0.2rem 0.2rem var(--dark-sage);
		border-radius: 0.25rem;
		transition: all 2s ease;
	}

	.container-description {
		font-size: 90%;
		text-align: center;
	}

	.container-icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 100%;
		justify-content: space-around;
		padding-inline: 1.5rem;
	}

	.container-icons > i {
		font-size: max(2rem, 100%);
		flex-basis: 21%;
		padding: 0.2rem;
		color: var(--dark-sage);
	}

	.container-icons > .icon-container > p {
		font-size: 70%;
		color: var(--dark-sage);
	}

	.container-buttons {
		display: flex;
		padding: 1rem;
		justify-content: space-between;
	}

	.container-buttons > button {
		width: 5.5rem;
		font-size: 0.8rem;
		padding-inline: 0.5rem;
	}
}
