#contact {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 0.25fr 4fr 0.25fr;
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
}
/* #home > div:not(.skill-marquee) {
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	border: 0.25rem solid var(--accent-color);
	height: 100%;
	width: 100%;
} */

.skill-marquee {
	display: flex;
	gap: 1rem;
	position: relative;
	align-items: center;
	border: none;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	max-height: 100%;
	/* pointer-events: none; */
	/* background-color: var(--); */
}

.skill-marquee.top {
	--gap: 0.5rem;
	grid-area: 1 / 1 / 1 / 7;
	margin-top: 0.1rem;
}

.skill-marquee.bottom {
	--gap: 0.5rem;
	grid-area: 3 / 1 / 3 / 7;
	margin-bottom: 0.1rem;
}

.marquee-content {
	list-style: none;
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 200%;
	font-size: 1.8rem;
	padding: 0;
	animation: scroll 30s linear infinite;
}

.skill-marquee.bottom > .marquee-content {
	animation: scroll 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

.marquee-content i {
	color: var(--accent-color);
	transition: font-size 2s ease;
}

.marquee-content i:hover {
	font-size: 2rem;
}

.marquee-content h3 {
	color: var(--accent-color);
	transition: font-variation-settings 2s ease;
}

.marquee-content h3:hover {
	font-variation-settings: 'CONT' 2000, 'MIDL' -1000;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

#contact > .content {
	grid-area: 2 / 1 / 3 / 7;
	display: block;
	justify-content: center;
}

.contact-form {
	grid-row-start: 1;
	grid-row-end: 2;
	color: var(--accent-color);
	height: 90%;
	width: 100%;
	/* text-align: center; */
	padding-top: 1rem;
}

.contact-form label {
	/* text-align: center; */
	font-size: 1rem;
}

.contact-form input {
	text-align: center;
	background-color: var(--bg-color);
	color: var(--font-color);
	width: 100%;
	height: 1.5rem;
	padding: 1.25rem;
	border: 0.1rem solid var(--accent-color);
	box-shadow: 0.25rem 0.25rem 0 0 var(--secondary-color);
	transition: background-color 400ms ease, box-shadow 500ms ease;
	outline-color: var(--primary-color);
}

#name {
	font-size: 1.1rem;
}

#email {
	font-size: 1.1rem;
}

.contact-form input:focus {
	box-shadow: 0rem 0rem 0 0 var(--primary-color);
	background-color: var(--secondary-color);
}

.contact-form textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	text-align: center;
	width: 100%;
	height: 5rem;
	background-color: var(--bg-color);
	color: var(--font-color);
	outline-color: var(--primary-color);
	border: 0.1rem solid var(--accent-color);
	border-radius: calc(var(--border-radius) / 4);
	box-shadow: 0.25rem 0.25rem 0 0 var(--secondary-color);
	transition: background-color 400ms ease, box-shadow 500ms ease;
	padding: 0.5rem;
}

.contact-form textarea:focus {
	box-shadow: 0rem 0rem 0 0 var(--primary-color);
	background-color: var(--secondary-color);
}

input[type='checkbox'] {
	height: 0.5rem;
	box-shadow: none;
	padding: 0.5rem;
	margin-left: 1rem;
	width: 20%;
	/* height: 0.7rem; */
	/* transform: translateX(-50%); */
	accent-color: var(--primary-color);
}

.contact-form hr {
	border: 0.05rem solid var(--accent-color);
	margin-block: 0.6rem;
}

.contact-form button {
	font-weight: 650;
	font-size: 1.25rem;
	width: 100%;
	height: 2.5rem;
	background-color: var(--bg-color);
	color: var(--accent-color);
	border: 0.1rem solid var(--accent-color);
	border-radius: calc(var(--border-radius) / 4);
	margin-block: 0.5rem;
	box-shadow: 0.25rem 0.25rem 0 0 var(--secondary-color);
	/* transform: translateX(75%); */
	transition: background-color 400ms ease, box-shadow 500ms ease;
}

.contact-form button:hover {
	box-shadow: 0rem 0rem 0 0 var(--primary-color);
	background-color: var(--secondary-color);
}

.socials {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
}

.socials a {
	gap: 0.65rem;
	padding-inline: 0.5rem;
}

.socials svg {
	color: var(--accent-color);
	font-size: 2.25rem;
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

@media screen and (min-width: 850px) {
	#contact > .content {
		grid-area: 2 / 1 / 3 / 7;

		display: block;
		padding: 10rem;
		padding-top: 8rem;
	}

	#name {
		font-size: 1.2rem;
	}

	#email {
		font-size: 1.2rem;
	}

	input[type='checkbox'] {
		/* height: 0.5rem;
		box-shadow: none;
		padding: 0.5rem;
		transform: translateX(47%); */
		margin-left: 1rem;
		width: 60%;
		height: 0.7rem;
		transform: translateX(-50%);
	}

	.contact-form button {
		text-align: center;
		transform: translateX(150%);
	}

	.contact-form button:hover {
		box-shadow: 0rem 0rem 0 0 var(--primary-color);
		background-color: var(--secondary-color);
	}
	.socials {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
	}

	.socials a {
		gap: 0.65rem;
		padding-inline: 0.5rem;
	}

	.socials svg {
		color: var(--accent-color);
		font-size: 2.25rem;
	}
}
