#contact {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 0.25fr 4fr 0.25fr;
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
}
/* #home > div:not(.skill-marquee) {
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	border: 0.25rem solid var(--accent-color);
	height: 100%;
	width: 100%;
} */

.skill-marquee {
	display: flex;
	gap: 1rem;
	position: relative;
	align-items: center;
	border: none;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	max-height: 100%;
	/* pointer-events: none; */
	/* background-color: var(--); */
}

.skill-marquee.top {
	--gap: 0.5rem;
	grid-area: 1 / 1 / 1 / 7;
	margin-top: 0.1rem;
}

.skill-marquee.bottom {
	--gap: 0.5rem;
	grid-area: 3 / 1 / 3 / 7;
	margin-bottom: 0.1rem;
}

.marquee-content {
	list-style: none;
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 200%;
	font-size: 1.8rem;
	padding: 0;
}
.skill-marquee.top > .marquee-content {
	animation: scroll 25s linear infinite;
}
.skill-marquee.bottom > .marquee-content {
	animation: scroll 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

.marquee-content i {
	color: var(--accent-color);
	transition: font-size 2s ease;
}
.marquee-content i:hover {
	font-size: 2rem;
}
.marquee-content h3 {
	color: var(--accent-color);
	transition: font-variation-settings 2s ease;
}

.marquee-content h3:hover {
	font-variation-settings: 'CONT' 2000, 'MIDL' -1000;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/* .socials {
	grid-area: 6 / 1 / 7 / 6;

	width: 100%;
	padding: 0.2rem;
}

.socials h3 {
	padding-inline: 0.5rem;
}

.social-icons {
	display: flex;
	gap: 0.65rem;
	padding-inline: 0.25rem;
	max-width: 100%;
	padding: 0.2rem;
}

.social-icons a {
	display: flex;
	gap: 0.65rem;
	padding-inline: 0.5rem;
}

.social-icons svg {
	color: var(--accent-color);
	font-size: 1.7rem;
}
.social-icons h3 {
	color: var(--accent-color);
	font-size: 0.55rem;
	display: none;
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

@media screen and (min-width: 850px) {
	.socials {
		grid-area: 7 / 3 / 8/ 6;
		padding: 0.2rem;
	}

	.social-icons h3 {
		color: var(--accent-color);
		font-size: 0.55rem;
		display: block;
	}
} */
