/*HOME*/
#home {
	height: 100%;
	background-color: var(--platinum);
	overflow-y: visible;
}

/* HOME GRID */

#home > #grid {
	height: 100%;
	width: 100%;
	flex-wrap: nowrap;
	padding-top: 5%;
	padding-bottom: 5%;
	justify-content: center;
	align-items: center;
	position: absolute;
}

@media screen and (max-width: 500px) {
	#home > #grid {
		flex-wrap: wrap;
	}
}

/* HOME CARDS */

#home > div > .card {
	display: flex;
	flex: 1 1 20%;
	height: 50%;
	width: 100%;
}

@media screen and (max-width: 500px) {
	#home > div > .card {
		flex-basis: 50%;
		flex-flow: column nowrap;
		height: 28%;
		background-color: var(--pink);
	}

	#home > div > .card:hover {
		transform: scale(1);
		border-radius: 0.2rem;
		box-shadow: 0.3rem 0.3rem;
		z-index: 11;
	}

	#home > div > .card > a > h1 {
		position: absolute;
		bottom: 0;
		padding-left: 2%;
		font-size: 1.5em;
		font-weight: 100;
		text-decoration: none;
		z-index: 1000;
		color: var(--platinum);
		mix-blend-mode: hard-light;
	}
}

#home > div > .card:hover {
	transform: scale(1);
	transform-origin: center;
	border-radius: 0.2rem;
	box-shadow: 0.3rem 0.3rem;
	z-index: 11;
	height: 100%;
	flex-basis: 70%;
}

#home > div:hover > .card {
	opacity: 50%;
	filter: blur(0.1rem);
}

#home > div:hover > .card:hover {
	opacity: 100%;
	filter: blur(0);
}

@media screen and (max-width: 500px) {
	#home > div:hover > .card {
		opacity: 100%;
		filter: blur(0);
	}
}

#home > div > .card > a {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	align-content: baseline;
	border-radius: inherit;
	background-color: var(--mountbatten);
	z-index: inherit;
	transition: opacity 3s, background-color 3s;
}

#home > div > .card:hover > a {
	background-color: rgba(0, 0, 0, 0);
}

#home > div > .card > a > h1 {
	position: absolute;
	bottom: 0;
	padding-left: 2%;
	font-size: 2em;
	font-weight: 100;
	color: var(--platinum);
	mix-blend-mode: overlay;
	transition: all 1s;
}

#home > div > .card:hover > a > h1 {
	bottom: 0;
	padding-left: 1em;
	font-size: 3em;
	color: var(--mountbatten);
}

@media screen and (max-width: 500px) {
	#home > div > .card:hover > a > h1 {
		padding-left: 1em;
		font-size: 1.65em;
		mix-blend-mode: multiply;
	}
}

/* HOME CARD PSEUDO ELEMENT */

#home > div > .card > a > h1::before {
	content: '';
	width: 0%;
	height: 0rem;
	background-color: var(--jet);
	position: absolute;
	bottom: 7%;
	transition: all 2s;
	z-index: 2;
}

#home > div > .card:is(.card:hover) > a > h1::before {
	content: '';
	width: 88%;
	height: 10%;
	background-color: var(--jet);
	margin-left: 20;
	position: absolute;
	z-index: 3;
}

#home > div > .card:nth-child(1):is(.card:hover) > a > h1:before {
	width: 91%;
}
#home > div > .card:nth-child(2):is(.card:hover) > a > h1:before {
	width: 73%;
}
#home > div > .card:nth-child(3):is(.card:hover) > a > h1:before {
	width: 82%;
}

@media screen and (max-width: 500px) {
	#home > div > .card:nth-child(1):is(.card:hover) > a > h1:before {
		width: 91%;
	}
	#home > div > .card:nth-child(2):is(.card:hover) > a > h1:before {
		width: 73%;
	}
	#home > div > .card:nth-child(3):is(.card:hover) > a > h1:before {
		width: 82%;
	}
}

#home > div > .card > img {
	position: absolute;
	top: 0;
	left: 0;
	/* opacity: 85%; */
	width: 100%;
	height: 100%;
	border-style: inherit;
	border-radius: inherit;
	object-fit: cover;
}

.hiding {
	background-color: rgba(0, 0, 0, 0);
	/* background-color: transparent; */
}
