#home {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 0.25fr 4fr 0.25fr;
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
}
#home > div:not(.skill-marquee) {
	/* background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	border: 0.25rem solid var(--accent-color); */
	height: 100%;
	width: 100%;
}

.skill-marquee {
	display: flex;
	gap: 1rem;
	position: relative;
	align-items: center;
	border: none;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	max-height: 100%;
	/* pointer-events: none; */
	/* background-color: var(--); */
}
.skill-marquee.top {
	--gap: 0.5rem;
	grid-area: 1 / 1 / 1 / 7;
	margin-top: 0.1rem;
}
.skill-marquee.bottom {
	--gap: 0.5rem;
	grid-area: 3 / 1 / 3 / 7;
	margin-bottom: 0.1rem;
}

.marquee-content {
	list-style: none;
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 200%;
	font-size: 1.8rem;
	padding: 0;
}
.skill-marquee.top > .marquee-content {
	animation: scroll 25s linear infinite;
}
.skill-marquee.bottom > .marquee-content {
	animation: scroll 30s linear infinite;
}

.marquee-content i {
	color: var(--accent-color);
	transition: font-size 2s ease;
}
.marquee-content i:hover {
	font-size: 2rem;
}
.marquee-content h3 {
	color: var(--accent-color);
	transition: font-variation-settings 2s ease;
}

.marquee-content h3:hover {
	font-variation-settings: 'CONT' 2000, 'MIDL' -1000;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

#home > .content {
	grid-area: 2 / 1 / 3 / 7;
	text-align: center;
	transform: translateY(25%);
}

.greeting {
	font-weight: 650;
	font-size: 2rem;
	color: var(--accent-color);
}

.about {
	color: var(--accent-color);
}

.links {
	display: flex;
	justify-content: space-around;
}

.link {
	text-align: center;
	font-weight: 650;
	font-size: 1.25rem;
	padding-inline: 1rem;
	max-width: 60%;
	height: 2.5rem;
	background-color: var(--bg-color);
	color: var(--accent-color);
	border: 0.1rem solid var(--accent-color);
	border-radius: calc(var(--border-radius) / 4);
	box-shadow: 0.25rem 0.25rem 0 0 var(--secondary-color);
	transition: background-color 400ms ease, box-shadow 500ms ease;
}

.link:hover {
	box-shadow: 0rem 0rem 0 0 var(--primary-color);
	background-color: var(--secondary-color);
	/* color: var(--accent-color); */
}

@media screen and (min-width: 850px) {
}
