#home {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 0.25fr 4fr 0.25fr;
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
	overflow: hidden;
	height: 95%;
}

#home > div:not(.skill-marquee) {
	/* background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	border: 0.25rem solid var(--accent-color); */
	height: 100%;
	width: 100%;
}

.skill-marquee {
	display: flex;
	gap: 1rem;
	position: relative;
	align-items: center;
	border: none;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	max-height: 100%;
	/* pointer-events: none; */
	/* background-color: var(--); */
}
.skill-marquee.top {
	--gap: 0.5rem;
	grid-area: 1 / 1 / 1 / 7;
	margin-top: 0.1rem;
}
.skill-marquee.bottom {
	--gap: 2rem;
	grid-area: 3 / 1 / 3 / 7;
	margin-bottom: 0.1rem;
}

.marquee-content {
	list-style: none;
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 200%;
	font-size: 1.8rem;
	padding: 0;
}
.skill-marquee.top > .marquee-content {
	animation: scroll 25s linear infinite;
}
.skill-marquee.bottom > .marquee-content {
	animation: scroll 20s linear infinite;
}
.marquee-content h3 {
	color: var(--accent-color);
	transition: font-variation-settings 2s ease;
	font-size: 1.8rem;
}

.marquee-content h3:hover {
	font-variation-settings: 'CONT' 2000, 'MIDL' -1000;
}

.marquee-content i {
	font-size: 1.5rem;
	color: var(--accent-color);
	transition: font-size 2s ease;
}

.marquee-content i:hover {
	font-size: 1.7rem;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@media (prefers-reduced-motion: reduce) {
	.marquee-content {
		animation-play-state: paused !important;
	}
}

#home > .content {
	grid-area: 2 / 1 / 3 / 7;
	text-align: center;
	/* transform: translateY(10%); */
	display: flex;
	flex-direction: row;
}

.image {
	aspect-ratio: 1;
	width: 50%;
}

.about {
	color: var(--accent-color);
}
.about h1 {
	font-weight: 650;
	font-size: 2rem;
	cursor: default;
}

/* .about h3 {
} */

.about p {
	color: var(--accent-color);
	font-size: 1rem;
	line-height: 1.25rem;
	padding: 1rem;
}

.links {
	display: flex;
	justify-content: space-around;
}

.link {
	text-align: center;
	font-weight: 650;
	font-size: 1.25rem;
	padding-inline: 1rem;
	max-width: 60%;
	height: 2.5rem;
	background-color: var(--bg-color);
	color: var(--accent-color);
	border: 0.1rem solid var(--accent-color);
	/* border-radius: calc(var(--border-radius) / 4); */
	box-shadow: 0.25rem 0.25rem 0 0 var(--primary-color);
	transition: background-color 400ms ease, box-shadow 500ms ease;
}

.link:hover {
	box-shadow: 0rem 0rem 0 0 transparent;
	border-color: var(--primary-color);
	background-color: var(--secondary-color);
	/* color: var(--accent-color); */
}

@media screen and (min-width: 850px) {
	.marquee-content h3 {
		font-size: 1.5rem;
	}
	.marquee-content i {
		font-size: 1.3rem;
	}

	#home > .content {
		grid-area: 2 / 1 / 3 / 7;
		text-align: center;
		transform: translateY(10%);
		/* padding: 5rem; */
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}
	.about {
		max-width: 50%;
		height: 50%;
		text-align: center;
	}
	.about h2 {
		font-weight: 650;
		font-size: clamp(2rem);
	}

	.about h3 {
		color: var(--accent-color);
	}

	.about p {
		color: var(--accent-color);
		font-size: 1rem;
		line-height: 2rem;
		padding: 5rem;
	}
}
