.nav {
	max-width: min(97.5%);
	justify-content: space-around;
	margin-right: 0;
	max-height: 2rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	z-index: 1200;
}

.title-link {
	width: 12rem;
	height: 2rem;
	z-index: inherit;
}

.title {
	width: auto;
	font-size: 1.35rem;
	margin: 0;
	padding-left: 0.75rem;
	max-width: min(90%, 1280px);
	max-height: 4rem;
	z-index: inherit;
	grid-area: 1 / 1 / 2 / 2;
}

.title-letter {
	font-size: inherit;
	font-variation-settings: inherit;
	color: inherit;
	display: inline-block;
	transition: transform 1s ease;
	z-index: inherit;
}

.burger-button {
	overflow: hidden;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: inherit;
	padding-right: 0.25rem;
	position: absolute;
	top: 0.25%;
	right: 0.25%;
	color: var(--accent-color);
}

.burger-button .hamburger {
	transition: translate 1s, rotate 1s;
}

.burger-button[aria-expanded='true'] .hamburger {
	translate: 0px -5px;
	rotate: 0.125turn;
}

.burger-button .line {
	transition: 1s;
	stroke-dasharray: 60 31 60 300;
}

.burger-button[aria-expanded='true'] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

.nav-item:hover {
	font-weight: 50;
	font-variation-settings: 'CONT' 500, 'MIDL' -1000;
}

.nav-item-text,
.title {
	font-weight: 1000;
	font-variation-settings: 'CONT' 1000, 'MIDL' -1000;
	transition: font-weight 500ms, font-variation-settings 500ms;
}

.nav-item-text,
.title:hover {
	font-weight: 50;
	font-variation-settings: 'CONT' 500, 'MIDL' -1000;
}

.nav-drawer {
	display: none;
	position: absolute;
	opacity: 0.5;
	height: 100%;
	z-index: 1000;
	width: 100%;
	background-color: var(--secondary-color);
	box-shadow: 0.05rem 0.05rem;
	transition: height 1s, width 1s, opacity 0.5s, right 2s, background-color 1s;
}

.nav-drawer-list {
	position: absolute;
	bottom: 0%;
	right: 0;
	list-style-type: none;
	height: auto;
	width: auto;
	text-align: end;
}

.drawer-item {
	padding-top: 1rem;
	padding-right: 1rem;
	position: relative;
	justify-content: space-between;
}

.drawer-link {
	font-size: 18vw;
	font-variation-settings: 'wght' 300, 'CONT' 100, 'MIDL' -3500;
	transition: font-variation-settings 2s ease;
}

.drawer-link:hover {
	font-variation-settings: 'wght' 1000, 'CONT' 1000, 'MIDL' -1000;
}

.drawer-link::before {
	content: '';
	width: 0%;
	height: 0rem;
	position: absolute;
	bottom: 0%;
	background-color: var(--accent-color);
	transition: width 1s linear, height 2s ease;
	transform-origin: right;
}

.drawer-link:hover::before {
	width: 100%;
	height: 0.5rem;
}

.theme-toggle svg {
	padding-right: 0.25rem;
	position: absolute;
	top: 0.25%;
	right: 0.25%;
}

.nav-drawer svg {
	color: var(--primary-color);
}
.nav-drawer svg > circle {
	color: var(--secondary-color);
	fill: var(--secondary-color);
}

.navbar {
	display: none;
	position: relative;
	justify-content: space-around;
	/* grid-area: 1 / 6 / 2 / 7; */
}

/* .color-mode {
	aspect-ratio: 1;
	height: 1rem;
	filter: invert(var(--dark-mode));
	inline-size: 25rem;
	max-inline-size: 50vw;
	transform: rotate(calc(var(--dark-mode) * 180deg));
	transition: all 0.6s ease;
} */

.show {
	display: block;
	opacity: 1;
}

.hide {
	display: none;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 850px) {
	.nav {
		position: relative;
		width: 100%;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: 0.15fr;
		grid-column-gap: 2rem;
		justify-content: space-between;
	}

	.title {
		font-size: 1.35rem;
		margin: 0;
		padding-left: 1rem;
		grid-area: 1 / 1 / 2 / 2;
	}

	.title-letter {
		font-size: inherit;
		font-variation-settings: inherit;
		color: inherit;
		display: inline-block;
		transition: transform 2.5s ease;
	}

	.title:hover > .title-letter:nth-child(7) {
		transform: translate(0.5rem);
	}
	.title:hover > .title-letter:nth-child(8) {
		transform: translate(0.5rem);
	}
	.title:hover > .title-letter:nth-child(9) {
		transform: translate(0.5rem);
	}
	.title:hover > .title-letter:nth-child(10) {
		transform: translate(0.5rem);
	}
	.title:hover > .title-letter:nth-child(11) {
		transform: translate(0.5rem);
	}
	.title:hover > .title-letter:nth-child(12) {
		transform: translate(0.5rem);
	}

	.burger-button {
		display: none;
		width: 0;
		height: 0;
	}

	.navbar {
		width: 98%;
		display: block;
	}

	.nav-item-text {
		padding-top: 0.3rem;
		max-height: 1rem;
		padding-inline: 1.5rem;
		font-variation-settings: 'wght' 300, 'CONT' 100, 'MIDL' -3500;
		width: auto;
	}
	.navbar.nav-item-text:nth-child(2) {
		grid-area: 1 / 5 / 2 / 6;
	}
	.navbar.nav-item-text:nth-child(3) {
		grid-area: 1 / 6 / 2 / 7;
	}

	.nav-item-text:hover {
		font-variation-settings: 'wght' 1000, 'CONT' 1000, 'MIDL' -1000;
	}

	.hide {
		opacity: 1;
		width: 100%;
		display: block;
	}

	.show {
		right: 2.5%;
		opacity: 1;
		height: 31%;
		width: 18%;
	}

	.navbar.theme-toggle {
		height: 30px;
		width: 30px;
		grid-area: 1 / 7 / 2 / 8;
	}

	.nav-drawer-transparent {
		display: none;
	}

	.nav-drawer {
		display: none;
	}

	.theme-toggle svg {
		padding-right: 0.25rem;
		position: absolute;
		top: 0.25%;
		right: 0.25%;
	}

	.navbar.theme-toggle svg {
		color: var(--primary-color);
	}
	.navbar.theme-toggle svg > circle {
		color: var(--secondary-color);
		fill: var(--secondary-color);
	}
}
