#portfolio {
	height: 95%;
	width: 98%;
	max-width: min(98%, 1280px);
	max-height: max-content;
	margin: auto;
	border-top: var(--border-heavy-thickness) solid var(--accent-color);
	border-bottom: var(--border-heavy-thickness) solid var(--accent-color);
	border-inline: var(--border-heavy-thickness) solid transparent;
	overflow-y: scroll;
	border-radius: var(--border-radius);
}

#portfolio::before {
	height: 100%;
	width: 100%;
	z-index: 100;
	background-image: url(#grainy);
	position: absolute;
}

.previous-containers {
	border-top: none;
	min-height: 12.7%;
	height: 12.7%;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
}

.next-containers {
	display: inline;
	max-height: 87.5%;
	overflow-y: hidden;
	margin: auto auto;
}

.container-item {
	height: 87.5%;
	width: 100%;
	max-height: 87.5%;
	margin: auto;
	border: 0.05em solid black;
	z-index: inherit;
	overflow: clip;
}

.previous-containers > .container-item {
	border-top: none;
}

.next-containers > .container-item {
	border-bottom: none;
}

.container-heading {
	position: sticky;
	position: -webkit-sticky;
	/* top: 15%; */
	display: flex;
	justify-content: space-between;
	z-index: 100;
}
.container-heading > h4 {
	margin: 0.2rem 1rem;
	/* margin-left: 1rem;
	margin-right: 1rem; */
	font-size: 1rem;
	text-overflow: ellipsis;
	/* color: var(--accent-color); */
	transition: font-weight 500ms, font-variation-settings 500ms;
}

.containter-item:hover > .container-heading > h4:nth-child(1) {
	font-variation-settings: 'wght' 1000, 'CONT' 500, 'MIDL' -100;
}
.container-content {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 95%;
	z-index: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container-images {
	position: relative;
	top: 10%;
	min-height: 50%;
	width: 100%;
}

.container-image {
	align-self: center;
	display: block;
	/* max-width: 88%; */
	width: auto;
	min-height: 70%;
	object-fit: fill;
	z-index: -100;
	box-shadow: 0 10px 6px -6px;
	border-radius: var(--border-radius);
}

.container-info {
	margin: 1.25rem;
	max-height: 30%;
	width: 100%;
}
.container-info::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 20%;
	z-index: -100;
}

.container-icons {
	/* position: absolute; */
	max-width: 100%;
	width: 60%;
	display: flex;
	gap: 2.5rem;
}

.container-icons i {
	font-size: 100%;
	color: var(--accent-color);
}

.container-description {
	margin-top: 0.5rem;
	margin-bottom: 2.5rem;
	align-self: end;
	max-width: 95%;
	font-weight: 600;
}

.container-footer {
	position: relative;
	bottom: 5%;
	display: flex;
	justify-content: space-around;
	z-index: 100;
	width: 100%;
	height: 6%;
}

.container-footer button {
	width: 90%;
	background-color: var(--background-color);
	border: none;
	border-top: 0.05em solid var(--accent-color);
	border-right: 0.05em solid var(--accent-color);
	cursor: pointer;
	/* transition: background-color 2s linear, color 2s linear; */
}

/* .container-footer button:hover {
	background-color: var(--accent-color);
	color: var(--bg-color);
} */
.container-footer button:nth-child(2) {
	border-right: none;
}

.container-footer > button > h2 {
	font-size: 1.25rem;
	margin: 0;
	font-weight: 400;
}

.previous-containers > .container-item {
	height: calc(100% / 3);
}

.previous-containers > h4 {
	height: 100%;
}

.previous-containers .container-heading {
	top: 15%;
}

.next-containers > .container-item {
	position: sticky;
	position: -webkit-sticky;
	height: 100%;
	width: 100%;
	z-index: inherit;
}

.previous-containers > .container-item {
	background-color: var(--bg-color);
	background-image: radial-gradient(
			circle,
			transparent 0.025rem,
			var(--bg-color) 0.25rem
		),
		linear-gradient(var(--secondary-color), 0.025rem, transparent 0.1rem),
		linear-gradient(90deg, var(--secondary-color) 0.025rem, transparent 0.1rem);
	background-size: 1rem 1rem;
	background-position: 1.055rem 1.055rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}

.previous-containers > .container-item > .container-content {
	display: none;
}
.previous-containers > .container-item > .container-buttons {
	display: none;
}
@media screen and (min-width: 850px) {
}
