/*TITLE*/
@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes underline {
	0% {
		width: 0%;
		height: 0%;
		bottom: 4%;
		opacity: 0%;
	}
	10% {
		width: 91%;
	}
	20% {
		/* width: 75%; */
		opacity: 100%;
	}
	25% {
		width: 91%;
		height: 0.4rem;
		bottom: 7%;
	}
	50% {
		width: 91%;
		/* height: 0.4rem; */
		height: 0.25rem;
		bottom: 10%;
	}
	/* 75% {
		width: 93%;
		height: 0.35rem;
		bottom: 12%;
	} */
	100% {
		width: 91%;
		height: 0.25rem;
		bottom: 15%;
	}
}

#title {
	top: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	padding-right: 1rem;
	animation: 2s ease-out 0s 1 fadeIn;
}
/*
#title-letters {
}
 */

#title h1 {
	font-size: 200%;
	font-weight: 500;
	height: 1%;
	margin: 0rem;
	mix-blend-mode: screen;
	color: var(--mountbatten);
}

#title h1::before {
	content: '';
	width: 0%;
	height: 0rem;
	background-color: var(--jet);
	position: absolute;
	bottom: 15%;

	z-index: 2;
}

/* #title h1:hover::before {
	content: '';
	width: 93%;
	height: 0.5rem;
	background-color: var(--jet);
	margin-left: 20;
	position: absolute;
	z-index: 3;
} */

#title h1:hover::before {
	content: '';
	width: 91%;
	height: 0.25rem;
	background-color: var(--jet);
	margin-left: 20;
	position: absolute;
	z-index: 3;
	animation: 1s linear 0s underline;
}

@media screen and (max-width: 500px) {
	#title {
		top: 0;
		right: 0;
		z-index: 100;
		position: fixed;
		padding-right: 1em;
		animation: 2s ease-out 0s 1 fadeIn;
	}

	#title h1::before {
		content: '';
		width: 91%;
		height: 0.25rem;
		background-color: var(--jet);
		margin-left: 20;
		position: absolute;
		z-index: 3;
		animation: 2s linear 1s underline;
	}
}
