/* #root { */
/* margin: 0 auto; */
/* min-height: 100%; */
/* min-width: 100%; */
/* } */

/*GENERAL*/
a {
	text-decoration: none;
}

h1 {
	color: rgb(67, 67, 67);
	font-size: 1.75rem;
}

/*APP*/
.App {
	height: 100vh;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

/*NAV BAR */
/* #nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 3;
}

nav {
	display: grid;
	justify-content: space-evenly;
	background-color: var(--beige);
	width: 3.75%;
	height: 100%;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	width: 0%;
	transition: width 2s;
	transition: opacity 2s;
}

.nav-bar-tabs {
	max-width: 1rem;
}

#nav-bar h1 {
	position: relative;
	top: 70%;
	margin: 0;
	font-weight: 500;
	transform: rotate(270deg);
}

.nav-bar-tabs h1:hover {
	color: black;
}

#color-bar {
	position: absolute;
	display: grid;
	height: 100%;
	grid-template-rows: repeat(4, 25%);
}

.vl:before {
	content: '';
	display: inline-block;
	height: 100%;
}

#brown::before {
	border-left: 0.5rem solid var(--brown);
}

#green::before {
	border-left: 0.5rem solid var(--green);
}

#blue::before {
	border-left: 0.5rem solid var(--blue);
}

#purple::before {
	border-left: 0.5rem solid var(--purple);
}

/*PROGRESS BAR

#progress-bar {
	position: sticky;
	top: 0;
	left: 0;
	height: 100%;
	border-left: 0.5rem solid var(--beige);
}

*/

/*TITLE*/
@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
#title {
	top: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	padding-right: 1rem;
	animation: 3s ease-out 0s 1 fadeIn;
}
/*
#title-letters {
}
 */

#title h1 {
	font-size: 200%;
	font-weight: 500;
	height: 1%;
	margin: 0rem;
	mix-blend-mode: screen;
}

/*GENERAL MAIN COMPONENTS*/
#main {
	max-width: 100%;
	width: fit-content;
}

.main-component {
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}
::-webkit-scrollbar {
	display: none;
}

/*HOME*/
#home {
	background-color: var(--brown);
	height: auto;
	transition: background-color 2s ease-in;
}

/*SOFTWARE*/
#software {
	background-color: var(--green);
	height: auto;
	transition: background-color 2s ease-in;
}

#software:hover {
	background-color: var(--purple);
}

/*MUSIC*/
#music {
	background-color: var(--blue);
	height: 100%;
}

/*ABOUT*/
#about {
	background-color: var(--purple);
}

/*GRID */

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-20%);
		opacity: 0%;
	}
	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(20%);
		opacity: 0%;
	}
	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

#grid {
	display: grid;
	width: 97%;
	height: 90%;
	grid-template-rows: repeat(3, 33.33%);
	position: absolute;
	margin: 2.5% 1.5%;
	grid-row-gap: 0.35rem;
}

.grid-row {
	display: grid;
	margin-top: 0.3%;
}

.grid-row:nth-child(1) {
	grid-template-columns: 1.5fr 2fr 1fr;
	grid-column-gap: 0.45rem;
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.grid-row:nth-child(2) {
	grid-template-columns: 2fr 1fr 1.5fr;
	grid-column-gap: 0.45rem;
	animation: 0.75s ease-out 0s 1 slideInFromRight;
}

.grid-row:nth-child(3) {
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-gap: 0.45rem;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.card {
	background-color: var(--beige);
	border: 1rem var(--brown) solid;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
	transition: transform 2s, border-radius 1s, box-shadow 2s;
	z-index: 10;
	position: relative;
}

.card:hover {
	transform: scale(1.02);
	border-radius: 0.2rem;
	box-shadow: 0.3rem 0.3rem;
	z-index: 11;
}

.card-image-container {
	/* position: absolute; */
	z-index: inherit;
}

.card-image {
	width: 100%;
	height: 100%;
	border-style: unset;
	border-radius: inherit;
	transition: opacity 1s;
	z-index: inherit;
	position: absolute;
	object-fit: cover;
}

.hiding {
	opacity: 0;
}

.card-detail-container {
	display: grid;
	grid-template-rows: 1fr 2.5fr 1fr;
	z-index: 9;
	transition: opacity 1s;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	padding: 0.5rem;
}

.card-detail-container a {
	width: max-content;
	padding: 0;
}

.card-detail-container h1 {
	margin-top: 0;
	padding: 0.25rem;
}

.card-detail-container p {
	border-style: unset;
	/* box-shadow: 0.1rem 0.1rem 0 0; */
	border-bottom-right-radius: 0.4rem;
	padding: 0.25rem;
	text-align: center;
}

.card-detail-container:hover {
	opacity: 1;
}
