/* #root { */
/* margin: 0 auto; */
/* min-height: 100%; */
/* min-width: 100%; */
/* } */

/*GENERAL*/
a {
	text-decoration: none;
}

h1 {
	color: rgb(67, 67, 67);
	font-size: 1.75rem;
}

/*APP*/
.App {
	height: 100vh;
	max-width: 100%;
}

/*NAV BAR */
#nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 3;
}

nav {
	display: grid;
	justify-content: space-evenly;
	background-color: var(--beige);
	width: 3.75%;
	height: 100%;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	/* width: 0%; */
	transition: width 2s;
	/* transition: opacity 2s; */
}

/* nav:hover {
	width: 0%;
	display: none;
} */

.nav-bar-tabs {
	max-width: 1rem;
	/* max-width:; */
}

#nav-bar h1 {
	position: relative;
	top: 70%;
	margin: 0;
	font-weight: 500;
	transform: rotate(270deg);
}

.nav-bar-tabs h1:hover {
	color: black;
}

#color-bar {
	position: absolute;
	display: grid;
	height: 100%;
	grid-template-rows: repeat(4, 25%);
}

.vl:before {
	content: '';
	display: inline-block;
	height: 100%;
}

#brown::before {
	border-left: 0.5rem solid var(--brown);
}

#green::before {
	border-left: 0.5rem solid var(--green);
}

#blue::before {
	border-left: 0.5rem solid var(--blue);
}

#purple::before {
	border-left: 0.5rem solid var(--purple);
}

/*PROGRESS BAR */
#progress-bar {
	/* position: absolute; */
	position: sticky;
	top: 0;
	left: 0;
	height: 100%;
	border-left: 0.5rem solid var(--beige);
}

/*TITLE*/
#title {
	top: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	padding-right: 3rem;
}
/*
#title-letters {
}
 */

#title h1 {
	font-size: 200%;
	font-weight: 500;
}

/*GENERAL MAIN COMPONENTS*/
#main {
	max-width: 100%;
	width: fit-content;
}

.main-component {
	top: 0;
	left: 3.45%;
	min-height: 100%;
	width: 100%;
	position: absolute;
}
::-webkit-scrollbar {
	display: none;
}

/* #main-line {
	position: absolute;
	width: 1%;
	min-height: 340%;
	top: 30%;
	left: 51%;
	z-index: 10;
	background-color: var(--beige);
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
} */

/*HOME*/
#home {
	background-color: var(--brown);
}

/*SOFTWARE*/
#software {
	background-color: var(--green);
	height: auto;
}

/*MUSIC*/
#music {
	background-color: var(--blue);
	height: 100%;
}

/*ABOUT*/
#about {
	background-color: var(--purple);
}

/*CARD*/
.card {
	display: grid;
	background-color: var(--beige);
	max-width: 80%;
	max-height: 40%;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
	margin: 1rem auto;
	/* padding: 0.4rem; */
	position: relative;
}

.card-detail-container {
	display: grid;
	grid-template-rows: 1fr 2.5fr 1fr;
	padding: 1% 2.5%;
}

/*
@media only screen and (max-width: 1200px) {

	.card:nth-child(odd) {
		background-color: var(--blue);
	}

	.card:nth-child(even) {
		transform: translateX(32.25rem);
	}

	.card:nth-child(3n) {
		transform: translateX(16rem);
	}
}
 */
@media (min-width: 975px) {
	.card {
		grid-template-columns: repeat(2, 50%);
	}

	.card-detail-container {
		display: grid;
		grid-template-rows: 1fr 2.5fr 1fr;
		padding: 1% 2.5%;
	}

	/* .hidden {
		display: none;
	} */
}

@media (max-width: 975px) {
	.card {
		display: grid;
		background-color: var(--beige);
		max-width: 80%;
		max-height: 40%;
		/* height: 25%; */
		border-style: unset;
		box-shadow: 0.1rem 0.1rem;
		border-radius: 0.4rem;
		margin: 1.25rem auto;
		padding: 0.4rem;
		position: relative;
	}
	.card-detail-container {
		display: grid;
		grid-template-rows: 1fr 2.5fr 1fr;
		padding: 1% 0.75%;
	}
}

.card h1 {
	/* box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem; */
	margin: 0.4vmin;
}

.card p {
	text-align: center;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
	padding: 2.5%;
	/* padding-bottom: 2.5%; */
}

/* .card a {
} */

.card-link {
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
}

.card-image {
	max-width: 100%;
	border-style: unset;
	box-shadow: 0.1rem 0.1rem;
	border-radius: 0.4rem;
	/* object-fit: cover; */
}
