<!DOCTYPE html>
<html lang="en">

<head>
  <title>ABOUT - DEVIN GARCIA</title>
  <meta charset="UTF-8" />
  <meta name="description" content="ABOUT - DEVIN GARCIA" lang="en" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
</head>

<body class="min-h-screen min-w-screen">
  {{template "header" .}}
  <main class="w-full p-5">

  </main>
</body>

</html>