<!DOCTYPE html>
<html lang="en">

<head>
  <title>Devin Garcia</title>
  <meta charset="UTF-8" />
  <meta name="description" content="Devin Garcia" lang="en" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
</head>

<body class="flex flex-col">
  <header class="w-full p-3">
    <h1 class="text-4xl">Devin Garcia</h1>
  </header>
  <main class="w-full p-3">
    <ul class="p-2 list-none">
      <li class="my-2 underline list-none underline-offset-2"><a href="/view/"></a></li>
    </ul>
  </main>
  <footer>
  </footer>
</body>

</html>