<title>PROJECTS - DEVIN GARCIA</title>

{{range .projects}}
<div class="my-2 border rounded-sm snap-y lg:w-[49%] lg:mx-1 border-stone-500">
  <a href="/projects/{{.ID}}" class="flex flex-col snap-center snap-mandatory">
    <div class="flex items-center justify-between gap-2 p-2">
      <h1 class="w-full mt-auto text-xl font-medium">{{ .Name }}</h1>
      <!-- <h1 class="mt-auto">MAY.31.2022</h1> -->
    </div>
    {{range .Images}}
    <img src={{.}} class="object-cover object-top w-full lg:h-72 drop-shadow-md" />
    {{end}}
    <div class="flex flex-col w-full p-2 mt-auto ">
      <p class="my-auto text-sm">{{ .Description }}</p>
      <div class="flex justify-end gap-3 my-2">
        {{range .MadeWith}}
        <p
          class="p-1 mt-2 text-xs border rounded-sm text-stone-500 border-stone-500 opacity-70 hover:bg-stone-500 hover:text-stone-50">
          {{ .
          }}</p>
        {{end}}
      </div>
    </div>
  </a>
</div>
{{end}}