{{range .projects}}
<div class="snap-start flex flex-col h-[calc(100svh-4rem)] border-stone-500 bg-white">

  <div class="sticky z-30 flex gap-2 overflow-hidden top-16 mix-blend-difference">

    <h1 class="w-auto mb-2 text-4xl italic font-bold tracking-tighter text-white text-nowrap">
      {{.Name}}
    </h1>

    <h1 class="w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow">
      {{.Name}}
    </h1>

    <h1 class="w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow">
      {{.Name}}
    </h1>

    <h1 class="w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow">
      {{.Name}}
    </h1>

    <h1 class="w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow ">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow md:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow md:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow lg:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow lg:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow lg:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow lg:inline">
      {{.Name}}
    </h1>

    <h1 class="hidden w-auto mb-2 text-4xl italic font-bold tracking-tighter text-nowrap hollow lg:inline">
      {{.Name}}
    </h1>
  </div>


  <img src={{.Image}} class="z-10 object-cover object-top h-[95%] md:h-[85%] w-full rounded-lg drop-shadow-md my-auto "
    alt={{.Name}} />


  <div class="flex flex-col w-full p-2 mt-auto">
    <div class="flex justify-end gap-3 my-2">
      {{range .MadeWith}}
      <p
        class="p-1 my-auto text-xs border rounded-sm text-stone-500 border-stone-500 opacity-70 hover:bg-stone-500 hover:text-stone-50">
        {{ .
        }}</p>
      {{end}}
    </div>
  </div>

</div>
{{end}}