/* @font-face {
	font-family: Futura;
	src: url('https://github.com/gravadigital/futura-font/blob/master/FuturaBT-Medium.woff')
		format('WOFF');
	font-weight: normal;
} */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-family: Futura;
	line-height: 1.5;
	font-weight: 400;
	/* color-scheme: light; */
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	/* --platinum: #d8e2dc;
	--white: #ffffff;
	--reseda: #6c7d47;
	--jet: #3c3744;
	--mountbatten: #9d8189;

	--silver: #e9e8e8;
	--beige: #e1d7c6;
	--brown: #b09276;
	--cream: #f8ecd1;
	--pink: #e9d5da;
	--light-purple: #827397;
	--navy: #4d4c7d;
	--dark-purple: #363062;
	--green: #76b086;
	--blue: #768db0;

	--light-green: #ddffbb;
	--dark-light-green: #c7e9b0;
	--light-sage: #b3c99c;
	--dark-sage: #6c8b54; */

	/*light mode */
	--bg-color: #ffffff;
	--primary-color: #ffffff;
	--secondary-color: #eeeeee;
	--accent-color: #d8e2dc;
	--shadow-color: black;
	--font-color: black;

	/*dark mode */
}

[data-theme='dark'] {
	--bg-color: black;
	--primary-color: black;
	--secondary-color: black;
	--accent-color: black;
	--shadow-color: black;
	--font-color: black;
}

/* a {
	font-weight: 500;
	color: black;
	text-decoration: inherit;
} */

/* a:hover {
	color: gainsboro;
} */

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	/* a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	} */
}
