:root {
	font-family: 'Space Grotesk', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* --bg-color: #f0e9d2;
	--primary-color: #e6ddc4;
	--secondary-color: #e6ddc4;
	--accent-color: #678983;
	--shadow-color: #181d31;
	--font-color: #121626; */
	--bg-color: #faf9f6;
	--primary-color: #f0e9d2;
	--secondary-color: #e6ddc4;
	--accent-color: #678983;
	--shadow-color: #181d31;
	--font-color: #121626;
}

/*dark mode */
[data-theme='dark'] {
	--bg-color: #181d31;
	--primary-color: #181d31;
	--secondary-color: #678983;
	--accent-color: #678983;
	--shadow-color: #e6ddc4;
	--font-color: #faf9f6;

	/* --bg-color: #181d31;
	--primary-color: #181d31;
	--secondary-color: #678983;
	--accent-color: #678983;
	--shadow-color: #e6ddc4;
	--font-color: #f0e9d2; */
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Space Grotesk', sans-serif;
	color: var(--font-color);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
	transition: background-color 1s;
}
