@font-face {
	font-family: 'Kyiv Sans';
	src: url('./fonts/KyivTypeSans.woff2') format('woff2-variations');
	font-weight: 0 1000;
	font-display: swap;
}

@font-face {
	font-family: 'Kyiv Tilt';
	src: url('./fonts/KyivTypeTitling.woff2') format('woff2-variations');
	font-weight: 0 1000;
	font-display: swap;
}

:root {
	font-family: 'Kyiv Sans, Kyiv Tilt';
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--border-radius: 0.5rem;
	--border-light-thickness: 0.1em;
	--border-heavy-thickness: 0.15em;

	/* --bg-color: #f0e9d2;
	--primary-color: #e6ddc4;
	--secondary-color: #e6ddc4;
	--accent-color: #678983;
	--shadow-color: #181d31;
	--font-color: #121626; */
	--bg-color: #faf9f6;
	--primary-color: #f0e9d2;
	--secondary-color: #e6ddc4;
	--accent-color: #678983;
	--shadow-color: #181d31;
	--font-color: #222222;
}

/*dark mode */
[data-theme='dark'] {
	--bg-color: #222222;
	--primary-color: #181d31;
	--secondary-color: #678983;
	--accent-color: #678983;
	--shadow-color: #e6ddc4;
	--font-color: #f2f2f2;
	/* --bg-color: #181d31;
	--primary-color: #181d31;
	--secondary-color: #678983;
	--accent-color: #678983;
	--shadow-color: #e6ddc4;
	--font-color: #f0e9d2; */
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
li,
span {
	font-family: 'Kyiv Sans';
	color: var(--font-color);
	font-variation-settings: 'CONT' 500, 'MIDL' -900;
}

h1 {
	font-family: 'Kyiv Tilt';
	cursor: pointer;
}

a,
h1 {
	font-weight: 1000;
	font-variation-settings: 'CONT' 1000, 'MIDL' -1000;
	transition: font-weight 500ms, font-variation-settings 500ms;
}

a,
h1:hover {
	font-weight: 50;
	font-variation-settings: 'CONT' 500, 'MIDL' -1000;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--bg-color);
}

*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
	transition: background-color 500ms;
}
